
@{
    ViewBag.Title = "AboutUs";
}

<head>
    <link href="~/Content/AboutStyleSheet.css" rel="stylesheet" />
</head>

<body>
<br />
    <div class="jumbotron">
        <div class="imgs"></div>

        <div class="container, cont">
            <h2>Company Background</h2>
        </div>
        <div class="container">
            <p>
                Missionay Portal LLC was founded in 2006 by Harry Potter. He served a mission in Portland Oregon from July 2003 to 2005. 
                Before his mission he was struggling with major anxieity due to the stress that the mission would bring.
                He was very interested in learning more about Portland. Harry searched everywhere, online, in books, 
                he even talked to people around his area that also served missions, but found nothing.
                After Harry left for his mission he started learning more about the Portland and nearby suburbs which helped him feel more comfortable.
                He kept detailed notes and journal enteries about his experiences with other missionaries and people that he taught and served.
                After returning home he decided to put his notes to good use and thus Misisonary Portal LLC was born. Harry is constantly looking for Return
                Missionaries to come and be intervied by Missionary Portal so that they can collect more data about diverse missions around the world.
                His goal is to have at least one return missionary from each mission around the world.
            </p>
        </div>

        <hr class="my-4">

        <div class="container, cont">
            <h2>Managment</h2>
        </div>
        <div class="container">
            <p class="centers">Harry Potter - CEO</p>
            <p class="imgbox">
                <img class="center-fit" src="~/Content/Img/HarryPotter.jpg" />
            </p>
        </div>
    </div>
    
    

</body>

